.about__section-image {
    border-radius:50% 50% 50% 50% / 22% 23% 77% 78% ;
    overflow: hidden;
    /* transform: skew(15deg); */
    transition: var(--transition);
}

.about__section-image:hover {
    border: 1rem solid transparent;
    filter: brightness(130%);
}

.about__story-container,
.about__mission-container {
    display: grid;
    grid-template-columns: 40% 50%;
    gap: 10%;
}

.about__vision-container {
    display: grid;
    grid-template-columns: 50% 40%;
    gap: 10%;
}


/* *********** media queries (medium screen) *******  */
@media screen and (max-width: 1024px) {
    .about__section-image {
        width: 60%;
    }

    .about__section-content h1 {
        margin-bottom: 1.2rem;
       
    }

    .about__mission-container,
    .about__story-container,
    .about__vision-container {
        grid-template-columns: 1fr;
        gap: 3rem;
    }

    .about__section-image {
        margin-inline: auto;
    }

    .about__vision .about__section-image {
        grid-row: 1;
    }
}


/* ********* media queries (small screens ) *********  */

@media screen and (max-width: 600px) {
    .about__section-image {
        margin-inline: auto;
        width: 80%;
    }

    .about__mission-container,
    .about__story-container,
    .about__vision-container {
        gap: 2rem;
    }

}