nav {
    height: 5rem;
    width: 100vw;
    background: var(--color-primary);
    display: grid;
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

/* only shows on medium and small screens  */
.nav__toggle-btn {
    display: none;
}

.nav__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;

}

.logo {
    display: block;
    width: 3.5rem;
    border-radius: 60% 40% 67% 33% / 24% 34% 66% 76% ;
    overflow: hidden;
}

.nav__link {
    display: flex;
    gap: 3.5rem;
    align-items: center;
}

.nav__link a {
    transition: var(--transition);
}

.nav__link a:hover {
    color: var(--color-secondary);
}

.active-nav {
    position: relative;
}

.active-nav:after {
    content: '';
    display: block;
    width: 2rem;
    height: 2rem;
    border-radius: 6% 94% 31% 69% / 8% 55% 45% 92%  ;
    background: var(--color-primary);
    position: absolute;
    left: calc(50% - 0.6rem);
    transform: rotate(-120deg);
    margin-top: 0.4rem;
}

/* *********** MEDIA QUERIES *************  */
@media screen and (max-width: 1024px) {
    /* .container {
        background: red;
    } */

    .nav__toggle-btn {
        display: inline-block;
        background: transparent;
        cursor: pointer;
        font-size: 1.8rem;
    }

    .nav__toggle-btn svg {
        color: var(--color-gray-100);
    }

    .nav__link {
        position: absolute;
        top: 100%;
        right: 0;
        flex-direction: column;
        gap: 0;
        perspective: 400px;
    }

    .active-nav, .active-nav:after {
        display: none;
    }

    .nav__link li {
        height: 4rem;
        width: 100%;
        box-shadow: -2rem 2rem 5rem rgba(0, 0, 0, 0.5);
        animation: navAnimation 600ms ease forwards;
        transform: rotateX(90deg);
        opacity: 0;
        transform-origin: top;
    }

    .nav__link li:nth-child(2){
        animation-delay: 200ms;   
    }

    .nav__link li:nth-child(3){
        animation-delay: 400ms;   
    }

    .nav__link li:nth-child(4){
        animation-delay: 600ms;   
    }

    .nav__link li:nth-child(5){
        animation-delay: 800ms;   
    }

    .nav__link li:nth-child(6){
        animation-delay: 1s;   
    }

    @keyframes navAnimation {
        to {
            transform: rotateX(0);
            opacity: 1;
        }
    }

    .nav__link li a {
        background: var(--color-primary);
        height: 100%;
        width: 100%;
        display: flex;
        padding: 1rem 5rem 1rem 3rem;
    }

    .show__nav {
        display: flex;
    }

    .hide__nav {
        display: none;
    }
}